body {
    background-color: bisque;
}

header {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

main {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
}

#intro {
    font-family: Garamond;
    font-size: larger;
}

#slide_container {
    box-shadow: 0px 0px 10px 0px silver;
    margin-bottom: 10px;
}

#assignment_list {
    list-style-type: none;
    display: inline;
    margin: 0;
}