header {
    text-align: center;
}

header a {
    text-align: right;
}

body {
    background-color: bisque;
}

#welcome {
    font-weight:bold;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}